<!doctype html>
<head>
    <title>Dewey Decimators Library Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/librarian">Librarian</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/checkout">Checkout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/DD_Logo.png') }}" alt="Dewey Decimator logo" style="max-width: 500px; height: auto;">
            <h1 class="display-6 fw-bold text-primary">Library Database</h1>
          </div>
        <form method="post" action="/">
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">Find Books</label>

                <!-- <p class="lead mb-2">Could you please tell me your name?</p> -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="name" name="name" style="max-width: 256px;">
                  </div>            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" name="searchbutton" value="title" class="btn btn-primary btn-lg px-4 gap-3">Title</button>
                  <button type="submit" name="searchbutton" value="genre" class="btn btn-primary btn-lg px-4 gap-3">Genre</button>
                  <button type="submit" name="searchbutton" value="ISBN" class="btn btn-primary btn-lg px-4 gap-3">ISBN</button>
                  <button type="submit" name="searchbutton" value="Year Published" class="btn btn-primary btn-lg px-4 gap-3">Year Published</button>
                  <button type="submit" name="searchbutton" value="Publisher" class="btn btn-primary btn-lg px-4 gap-3">Publisher</button>
                  <button type="submit" name="searchbutton" value="Language" class="btn btn-primary btn-lg px-4 gap-3">Language</button>
                  <button type="submit" name="searchbutton" value="Author" class="btn btn-primary btn-lg px-4 gap-3">Author</button>
                </div>     
            </div>
        </form>
        <div>
          <h2>{{search}}</h2> 
        </div>
        <table class = "table">
          <tr class = "table__header">
            {% for cell in header %}
              <th class = "table__Cell"> {{cell}} </td>
            {% endfor %}
          </tr>
        {% for row in ptable %}
          <tr class = "table__row">
            {% for cell in row %}
              <td class = "table__Cell"> {{cell}} </td>
            {% endfor %}
          </tr>
        {% endfor %}
        </table>
        <div>
          <h2>{{locations}}</h2> 
        </div>
        <table class = "table">
          <tr class = "table__header">
            {% for cell in header2 %}
              <th class = "table__Cell"> {{cell}} </td>
            {% endfor %}
          </tr>
        {% for row in ptable2 %}
          <tr class = "table__row">
            {% for cell in row %}
              <td class = "table__Cell"> {{cell}} </td>
            {% endfor %}
          </tr>
        {% endfor %}
        </table>
     </main>      
   </body>
</html>